version: '3'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.4.0
    restart: always
    environment:
      - discovery.type=single-node
    volumes:
      - indexes:/usr/share/elasticsearch/data
    networks:
      - back-tier

  redis:
    image: redis:5
    restart: always
    volumes:
      - redis-persistance:/data
    networks:
      - back-tier

  loris-image:
    build: ./loris
    restart: always
    volumes:
      - data:/data
      - loris-conf:/etc/loris2/loris2.conf
    networks:
      - back-tier

  sharp-image:
    build: .
    restart: always
    environment:
      - IIIF_SERVER_SERVICES=image
    ports:
      - "5000:3333"
    volumes:
      - data:/data
      - app-conf:/opt/iiif-server/config.yaml
    networks:
      - back-tier

  worker:
    build: .
    restart: always
    environment:
      - IIIF_SERVER_SERVICES=text-index,waveform
    volumes:
      - data:/data
      - app-conf:/opt/iiif-server/config.yaml
    networks:
      - back-tier

  web:
    build: .
    restart: always
    environment:
      - IIIF_SERVER_SERVICES=web
    ports:
      - "8000:3333"
    volumes:
      - data:/data
      - app-conf:/opt/iiif-server/config.yaml
      - universal-viewer-conf:/opt/universalviewer-config.json
    networks:
      - front-tier
      - back-tier

volumes:
  app-conf:
  universal-viewer-conf:
  loris-conf:
  data:
  indexes:
  redis-persistance:

networks:
  front-tier:
  back-tier:
