version: '3'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.9.1
    restart: always
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    volumes:
      - indexes:/usr/share/elasticsearch/data
    networks:
      - back-tier

  redis:
    image: redis:7-alpine
    restart: always
    volumes:
      - redis-persistance:/data
    networks:
      - back-tier

  image:
    image: image:latest # An image build based on https://github.com/archival-IIIF/image-server-core
    command: -r /data
    restart: always
    volumes:
      - data:/data
    networks:
      - back-tier

  worker:
    build: .
    restart: always
    environment:
      - NODE_ENV=production
      - IIIF_SERVER_SERVICES=text-index,waveform
      - IIIF_SERVER_SECRET=secret
      - IIIF_SERVER_ACCESS_TOKEN=secret
      - IIIF_SERVER_IMAGE_SERVER_URL=http://image:3333
      - IIIF_SERVER_IMAGE_SERVER_NAME=sharp
      - IIIF_SERVER_IMAGE_TIER_SEPARATOR=__
      - IIIF_SERVER_ATTRIBUTION="Provided by"
      - IIIF_SERVER_BASE_URL=http://localhost:3333
      - IIIF_SERVER_DATA_ROOT_PATH=/data
      - IIIF_SERVER_COLLECTIONS_REL_PATH=collections
      - IIIF_SERVER_DERIVATIVE_REL_PATH=data
      - IIIF_SERVER_ELASTICSEARCH_URL=http://elasticsearch:9200
      - IIIF_SERVER_REDIS_VOLATILE_ENABLED=true
      - IIIF_SERVER_REDIS_VOLATILE_HOST=redis
      - IIIF_SERVER_REDIS_PERSIST_ENABLED=true
      - IIIF_SERVER_REDIS_PERSIST_HOST=redis
    volumes:
      - data:/data
    networks:
      - back-tier

  web:
    build: .
    restart: always
    environment:
      - NODE_ENV=production
      - IIIF_SERVER_SERVICES=web
      - IIIF_SERVER_SECRET=secret
      - IIIF_SERVER_ACCESS_TOKEN=secret
      - IIIF_SERVER_IMAGE_SERVER_URL=http://image:3333
      - IIIF_SERVER_IMAGE_SERVER_NAME=sharp
      - IIIF_SERVER_IMAGE_TIER_SEPARATOR=__
      - IIIF_SERVER_ATTRIBUTION="Provided by"
      - IIIF_SERVER_BASE_URL=http://localhost:3333
      - IIIF_SERVER_DATA_ROOT_PATH=/data
      - IIIF_SERVER_COLLECTIONS_REL_PATH=collections
      - IIIF_SERVER_DERIVATIVE_REL_PATH=data
      - IIIF_SERVER_ELASTICSEARCH_URL=http://elasticsearch:9200
      - IIIF_SERVER_REDIS_VOLATILE_ENABLED=true
      - IIIF_SERVER_REDIS_VOLATILE_HOST=redis
      - IIIF_SERVER_REDIS_PERSIST_ENABLED=true
      - IIIF_SERVER_REDIS_PERSIST_HOST=redis
    ports:
      - "3333:3333"
    volumes:
      - data:/data
    networks:
      - front-tier
      - back-tier

volumes:
  data:
  indexes:
  redis-persistance:

networks:
  front-tier:
  back-tier:
