apps:
  - script: {{ iiif_server_path }}/src/app.js
    name: iiif-server
    exec_mode: cluster
    instances: max
    env:
      NODE_ENV: {{ node_environment }}
      IIIF_SERVER_SERVICES: {{ iiif_server_services }}
      IIIF_SERVER_SECRET: {{ iiif_server_secret }}
      IIIF_SERVER_ACCESS_TOKEN: {{ iiif_server_access_token }}
      IIIF_SERVER_UNIVERSAL_VIEWER_PATH: {{ iiif_server_universal_viewer_path }}
      IIIF_SERVER_ARCHIVAL_VIEWER_PATH: {{ iiif_server_archival_viewer_path }}
      IIIF_SERVER_IMAGE_SERVER_URL: {{ iiif_server_image_server_url }}
      IIIF_SERVER_CACHE_DISABLED:  {{ iiif_server_cache_disabled }}
      IIIF_SERVER_PORT: {{ iiif_server_port }}
      IIIF_SERVER_LOGO: {{ iiif_server_logo }}
      IIIF_SERVER_ATTRIBUTION: {{ iiif_server_attribution }}
      IIIF_SERVER_BASE_URL: {{ iiif_server_base_url }}
      IIIF_SERVER_DATA_PATH: {{ iiif_server_data_path }}
      IIIF_SERVER_LOG_LEVEL: {{ iiif_server_log_level }}
      IIIF_SERVER_ELASTICSEARCH_URL: {{ iiif_server_elasticsearch_url }}
      IIIF_SERVER_REDIS_DISABLED: {{ iiif_server_redis_disabled }}
      IIIF_SERVER_REDIS_HOST: {{ redis_host }}
      IIIF_SERVER_REDIS_PORT: {{ redis_port }}
