body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#uv .iiif-metadata-component .item._logo .label {
    display: none;
}

#uv .centerPanel .content .attribution .header .title {
    display: none;
}

#uv .uv .overlay.download {
    width: 280px;
}

#uv .uv .overlay.download .middle ol.options li.group ul li label {
    width: inherit;
}